.domainSection {
	flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.domainSection > input{
	margin-left: 2%;
	width: 48%;
	min-width: 48% !important;
}

.domainSection > select{
	margin-right: 2%;
	width: 48% !important;
	min-width: 48% !important;
}

.errorMessage {
	color: #c36;
	text-align: center;
}