.linkList {
	margin: 0;
}

.linkListText div {
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.buttonList {
	display: flex;
	gap: 0.2rem;
}

.buttonList input, .buttonList a  {
	margin: 1rem 0 0rem;
}