@keyframes slideIn {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}

@keyframes slideOut {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

.sidebar {
	position: fixed;

	max-width: 40%;
	top: 0;
	left: -100%;

	height: 100vh;
	background: #fff;

	@media (max-width: 768px) {
		max-width: 60%;
	}
	
	@media (max-width: 480px) {
		max-width: 90%;
	}
}

.sidebarContainer {
	height: 90vh;

	overflow-y: auto;
	overflow-x: hidden;

	margin: 10vh 0rem 0rem 0rem;
	padding: 0rem 2rem 0rem;
}

.hidden {
	display: none;
	visibility: hidden;
}

.slideIn {
	left: 0;

	animation-name: slideIn;
	animation-duration: 400ms;
}

.slideOut {
	left: -100%;

	animation-name: slideOut;
	animation-duration: 200ms;
}
